# UI
streamlit

# LangChain + LangGraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langgraph

# Vector DB
chromadb

# LLM
openai
tiktoken
sentence-transformers

# Data
requests
beautifulsoup4
pypdf

# Utils
python-dotenv
pydantic
reportlab

# Compatibility
numpy==1.26.4